# Dependencies
node_modules/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
dist/
build/
*.egg-info/

# OS files
.DS_Store
__MACOSX/
._*

# Authentication files
browser.json
chrome_profile/
